
{% extends 'portal/base.html'%}


{% block content%}
			<div class='row'>
				<div class='col-md-4'>
					<div class='main-photo-box' style='background-image: url(images/example2.jpg)'>About the Doctor</div>
				</div>
				<div class='col-md-4'>
					<div class='main-photo-box' style='background-image: url(images/example1.jpg)'>Research</div>
				</div>
				<div class='col-md-4'>
					<div class='main-photo-box' style='background-image: url(images/example1.jpg)'>Videos</div>
				</div>
			</div>
			<hr class='sub-rule'/>
			<div class='homepage-content row'>
				<div class='main-left-content col-md-9'>
					Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.
				</div>
				<div class='main-right-content col-md-3'>
					Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.Hello my name is dickface.
				</div>
			</div>
		</div>
		<div class='disease-index'>
			<div class='container'>
				<div class='row'>
					<div class='disease-index-title col-md-2'>Disease Index</div>
				</div>
				<div class='diseases row'>
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>	
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>	
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>	
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>				
					
				</div>
				<div class='diseases row'>
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>	
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>	
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>	
					<div class='col-md-3'>
						<a href='#'>
							<div class='disease-index-image' style='background-image: url(images/example5.jpeg)'>Asthma</div>
						</a>
					</div>
				</div>
{% endblock content %}

{% block scripts %}
<script>
	//here the visual effects for the main page will be added
	//the visual effects are implemented through javascript 
	$('.main-photo-box').fadeIn(1200);
	$('.disease-index-image').fadeIn(1600);
</script>
{% endblock scripts %}
