
{% extends 'portal/base.html' %}

{% block content%}
<div class="container">
	<div class='row'>
		<div class='col-md-1'></div>
		<div class='col-md-10 search-container'>
			<span class='alpha-search'>A</span>
			<span class='alpha-search'>B</span>
			<span class='alpha-search'>C</span>
			<span class='alpha-search'>D</span>
			<span class='alpha-search'>E</span>
			<span class='alpha-search'>F</span>
			<span class='alpha-search'>G</span>
			<span class='alpha-search'>H</span>
			<span class='alpha-search'>I</span>
			<span class='alpha-search'>J</span>
			<span class='alpha-search'>K</span>
			<span class='alpha-search'>L</span>
			<span class='alpha-search'>M</span>
			<span class='alpha-search'>N</span>
			<span class='alpha-search'>O</span>
			<span class='alpha-search'>P</span>
			<span class='alpha-search'>Q</span>
			<span class='alpha-search'>R</span>
			<span class='alpha-search'>S</span>
			<span class='alpha-search'>T</span>
			<span class='alpha-search'>U</span>
			<span class='alpha-search'>V</span>
			<span class='alpha-search'>W</span>
			<span class='alpha-search'>X</span>
			<span class='alpha-search'>Y</span>
			<span class='alpha-search'>Z</span>
			<input type='text' class='search-box' placeholder='search'></input>
		</div>
	</div>
	<div class='row'>
		<div class='disease-list col-md-2'>
			
		</div>
		<div class='col-md-10'>
			<div class='testimonial-bio'>
				 <video  id='testimonial-video' width="320" height="240" controls>
					  <source src="movie.mp4" type="video/mp4">
					  <source src="movie.ogg" type="video/ogg">
					  Your browser does not support the video tag.

					 
				</video> 
				<div class='testimonial-meta-data'>
					<span id='testimonial-patient-num'></span>
					<span id='testimonial-patient-lang'></span>
				</div>
				<div id='testimonial-body'></div>

			</div>

		</div>
	</div>
</div>
{% endblock content%}

{% block scripts %}
<script src='js/Disease.js'></script>
<script src='js/Letter.js'></script>
<script src='js/Testimonial.js'></script>
<script type="text/javascript">

var updateView = function(){
	$('.disease').click(function(){
		
		$('.disease').each(function(){
			this.remove();
		});
		this.disease.fetchTestimonials('portal/testimonial');
		
	});
}

$('.alpha-search').click(function(){
	
	$('.alpha-search').each(function() {
		this.style.textDecoration = 'none';
		this.style.color = '#6c6e6f';
	});
	this.style.textDecoration = 'underline';
	this.style.color = '#69987d';
	var let = new Letter(this.innerHTML, '/portal/letter');
	let.fetch(updateView);

});

$('.search-box').keyup(function(e){
	
	console.log(e.keyCode);
	if(e.keyCode == 13){
		var let = new Letter(this.value, '/portal/letter');
		let.fetch(updateView);
	}
});
</script>
{% endblock scripts %}